<html>
<body bgcolor=#CCCCFF>
<center>
<h2><font color=black>Web server on AWS </font></h2>
<font color=black> This page is powered by the NGINX server. Infrastructure deployed by Terraform & configured by Ansible</font><br>
<font color=black> IP address this server is: {{ ansible_hostname }}.</font><br>
<font color=black> OS Family this server is: {{ ansible_os_family }}.</font><br>
<font color=black> OS Distribution: {{ ansible_distribution }} : {{ ansible_distribution_version }}.</font><br>
<font color=white> made by a.bogoderov <a href="https://github.com/abogoderov/aws_terraform_ansible_infrastructure">GitHub</a></font>
</center>
</body>
</html>
