<html>
<body bgcolor=black>
<center>
<h2><font color=white>Hello dear visitor from Accenture! </font></h2>
<font color=blue> This page is powered by the NGINX server.</font><br>
<font color=green> IP address this server is: {{ ansible_hostname }}.</font><br>
<font color=green> OS Family this server is: {{ ansible_os_family }}.</font><br>
<font color=green> Distribution: {{ ansible_distribution }} : {{ ansible_distribution_version }}.</font><br>
<h1><font color=white> Thank you for your attention, dear visitor! </font></h1>
</center>
</body>
</html>
